[Desktop Entry]
Name=Denial Mobile
Comment=Native mobile Wayland session
Exec=/usr/bin/denial-mobile-session
TryExec=/usr/bin/denial-mobile-session
Type=Application
DesktopNames=Denial
